<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-4">
        <div class="footer-logo">

          <a class="navbar-brand" href="#">mOney To Go</a>
          <p>Money To Go is a Non Banking Finance Company (NBFC) set up to service the credit needs of urban/Semi-Urban MSMEs.</p>
         <p><strong>Maitreya Capital addresses the financing need of under served Micro, Small &amp; Medium Enterprises in the country.</strong></p>   
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Our Products</h4>

          <ul class="list-unstyled">
            <li><a href="#">Micro Loans</a></li>
            <li><a href="#">Small Loans</a></li>
            <li><a href="#">Medium Loans</a></li>
            <li><a href="#">Inquiry for Loan</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="list-menu">

          <h4>Our Services</h4>

          <ul class="list-unstyled">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Pay your EmI</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Queries</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="list-menu">

          <h4>Customer Care</h4>
<img width="300" height="223" src="../../assets/img/customercare.png" class="image wp-image-191  attachment-medium size-medium"
alt="customercare" style="max-width: 100%; height: auto;"/>
         
        </div>
      </div>


      

    </div>
  </div>

  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights Money To Go. All rights reserved.</p>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
        Designed by <a href="https://alighthub.com/">allbeesoft</a>
      </div>
    </div>
  </div>

</footer>

