 <!--==========================
    forgot password  Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
        <table class="table table-dark">
            <thead>
                <th>ID</th>
               
            </thead>
        <tbody>
          <tr *ngFor='let u of User;'>
              <td></td>
              
      
      
            
          </tr>
        
        </tbody>
        
          </table>
    </div>
  </section><!-- #contact -->

