<div class="card">

    <div class="card-header">
        <h3>Loan Inquiry Form</h3>
    </div>
    
    <div class="container card bg-light text-black">
        <div style="text-align: center;">
            <label class="heading">You Are  : </label> &nbsp;&nbsp;
           
                <input type="radio" name="gender" value="male">Male &nbsp;&nbsp;
        
                <input type="radio" name="gender" value="female">Female
         
          </div>
       <div class="row card-body">
         <div class="col-sm-4">
        
            <div class="distance">
                <label class="heading">Full Name  :  </label> 
               
                    <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
              </div>
              <div>
                <label class="heading">Mobile No  : </label> 
               
                    <input type="input" name="mobno" class="form-control"  placeholder="Enter Your Mobile No">
              </div>
              <div>
               <label class="heading">Date of Birth  : </label> 
               
                    <input type="date" name="dateofbirth" class="form-control" placeholder="Select Date of Birth">
              </div>
              <div>
                <label class="heading"> Type of Business : </label>
              <select name="businesstype" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
               <option value="pune">Manufacture</option>
               <option value="nashik">Retailer</option>
               <option value="pimpri">Distributor</option>
               <option value="mumbai">Services</option>
            </select>
              </div>
              <div>
                <label class="heading"> In Business How Many Years : </label>
              <select name="businessyears" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
               <option value="< 1 Year"> < 1 Year</option>
               <option value="1 - 3 Years">1 - 3 Years</option>
               <option value="> 3 Years">> 3 Years</option>
            </select>
              </div>
              <div>
                <label class="heading"> Residence : </label>
              <select name="residence" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
               <option value="owned">Owned</option>
               <option value="rented">Rented</option>
            </select>
              </div>
         </div>
         <div class="col-sm-4">
          <div>
            <label class="heading"> Email : </label>
            <input type="email" name="email" class="form-control" placeholder="Enter Your Email">
            </div>
            <div>
            <label class="heading"> Select City or Nearest Place : </label>
            <select name="city" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
               <option value="pune">Pune</option>
               <option value="nashik">Nashik</option>
               <option value="pimpri">Pimpri</option>
               <option value="mumbai">Mumbai</option>
               <option value="ahemadnagar">AhemadNagar</option>
            </select>
           </div>
           <div>
            <label class="heading">Annual Sales in Rs Lacs : </label>
            <select name="annualsaleamount" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
                <option value="upto Rs 10 lacs">Upto Rs 10 lacs</option>
               <option value="Rs 10 - 25 lacs">Rs 10 - 25 lacs</option>
               <option value="> Rs 25 lacs">> Rs 25 lacs</option>
           </select>
           </div>
           <div>
            <label class="heading"> Work Place : </label>
          <select name="workplace" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
           <option value="owned">Owned</option>
           <option value="rented">Rented</option>
        </select>
          </div>
       
          <div class="row">
               <div class="col-sm-12">
                <p>
                  <span class="wpcf7-form-control-wrap accept-this">
                    <input type="checkbox" name="accept-this" value="1" class="wpcf7-form-control wpcf7-acceptance" aria-invalid="false"></span> I hereby confirm that all detail and document furnished by me are true and correct. I further provide constent to Alighthub Capital and its affiliates to contact me with reference to financial products and his consent shall override any registration with DND.</p>
               </div>
               
          </div>
    
    
    
          </div>
          <div class="col-sm-4"> 
              <div>
                <label class="heading">Enter Your Aadhar No (<span style="color: red;">*</span>): </label>
                <input type="text" name="aadharno" class="form-control" placeholder="Enter Your Aadhar Number"> 
             </div>  
             <div>
                <label class="heading">Enter Your PanCard No(<span style="color: red;">*</span>) : </label>
                <input type="text" name="panno" class="form-control" placeholder="Enter Your Pan Number"> 
             </div> 
             <div>
                <label class="heading">Loan Amount Requested  : </label>
                <select name="loanamount" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
                    <option value="upto Rs 5 lacs">Upto Rs 5 lacs</option>
                   <option value="Rs 5 - 10 lacs">Rs 5 - 10 lacs</option>
                   <option value="Rs 10 - 25 lacs"> Rs 10 - 25 lacs</option>
                   <option value="> Rs 25 lacs">> Rs 25 lacs</option>
               </select>
               </div> 
               <div>
                <label class="heading">Bank Statement : </label>
                <select name="bankstatement" class="form-control" aria-required="true" aria-invalid="false" multiple="multiple">
                    <option value="1 Year"> 1 Year</option>
                   <option value="1 - 2 Years">1 - 2 Years</option>
                   <option value="more than 2 Year">More than 2 Year</option>
               </select>
               </div>
               <div>
                <label class="heading"> Attach Documents (Optional)</label>
                    <input type="file" class="heading" name="document" size="40" aria-invalid="false">
              </div>
    
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <span class="wpcf7-form-control-wrap accept-this">
                      <input type="checkbox" name="accept-this" value="1" class="wpcf7-form-control wpcf7-acceptance" aria-invalid="false"></span> I hereby authorize Alignthub Capital to retrieve my Credit information report on my behalf from Credit Rating Agencies/ Bureau including CIBIL and Crif Hi Mark.</p>
                </div>
                
           </div>
            </div>  
       </div>
       
    </div>
    <div class="button">
        <button class="heading" class="btn btn-primary">Submit</button>
    </div>
    </div>
