 <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">

       <!-- <img src="assets/img/bg.jpg" alt="Hero Imgs"> -->

       <div id="slider">
        <figure>
            <img src="../../assets/slider/im1.jpg" />
            <img src="../../assets/slider/im2.jpg" />
            <img src="../../assets/slider/im3.jpg" />
            <img src="../../assets/slider/im4.jpg" />

            <img src="../../assets/slider/img5.jpg" />
        </figure>
    </div>

      <!-- <marquee>Welcome To Money To Go</marquee> -->
       <a routerLink="/loanEnquiry" class="btn-get-started scrollto">Loan Enquiry</a>

     
    </div>
  </section><!-- #hero -->

